# General
.DS_Store
*.sublime-workspace

# Unity
*.sln
*.csproj
*.pidb
*.userprefs
*.swatch
*.rsp
*.suo
*.user
UpgradeLog*.htm
MessagePackProject/Android/app/assets/bin/Data
MessagePackProject/libmono.so
MessagePackProject/libunity.so
.mayaSwatches/
MessagePackProject/Assembly-CSharp.csproj
MessagePackProject/Temp/
MessagePackProject/Builds/
MessagePackProject/Library/
MessagePackProject/smcs.rsp
MessagePackProject/smcs.rsp.meta